.sidebar {
    display: none
}

.sidebar.open {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 317px;
    height: 100%;
    position: absolute;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.10),
    0px 10px 40px 0px rgba(29, 33, 38, 0.13);
}

.background {
    filter: brightness(40%)
}

.nav {
    margin: 10px;
    align-self: center;
    flex-flow: column nowrap;
}

.nav a {
    background-color: #d7b7b7;

}

.nav a:hover {
}

.nav a.active {
}

.sidebar.open  > :not(:first-child) {
    /*!*flex-flow: column nowrap;*!*/
    /*margin-top: auto;*/
    /*!*margin-bottom: auto;*!*/
}

.close {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.close img {
}
