.friendMessage {
    background-color: #00cc22;
}

.friendImageAndText {
    background-color: #c73b95;
}

.friendImageAndText img {
    width: 80px;
}

.friendText {
    background-color: #237367;
}

.friendText:after {
    background-color: #ff6527;
}

.friendName {
    background-color: #ff0000;
}

.friendMessageText {
    background-color: #d7d5d5;
}

.friendTime {
    background-color: #1f2d12;
}
