.sendForm {
background-color: black;
}

.textarea {
}

.button {
    height: 40px;
    width: 20%;
    left: 1090px;
    top: 408px;
    border-radius: 20px;

}

.button:hover {

}
.button:active {

}
