.sendForm {

}

.textarea {

    width: 80%;
    height: 100%;
    left: 700px;
    top: 4080px;
    border-radius: 20px;


}

.button {
    height: 40px;
    width: 20%;
    left: 1090px;
    top: 408px;
    border-radius: 20px;

}

.button:hover {

}
.button:active {

}
