.button {
    /*height: 30px;*/
    /*width: 132px;*/
    /*left: 574px;*/
    /*top: 1465px;*/
    /*border-radius: 3px;*/
    /*padding: 5px 24px 5px 24px;*/

    width: 141px;
height: 30px;
top: 186px;
left: 73px;
padding: 5px 24px 5px 24px;
border-radius: 3px;
gap: 10px;


}

.disabled {

    background-color: #6e6e6e;
}

.secondary {

    background-color: rgba(0, 102, 204, 1)
}

.default {

    background-color: #0016af;
}

.red {

    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    height: 30px;
    width: 167px;
    left: 574px;
    top: 261px;
    border-radius: 3px;
    padding: 5px 24px 5px 24px;

}
